<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="homepage-wrapper">
  <div class="homepage-center">
    <h2>Login</h2>
    <form action="/auth/login" method="POST" id="form-container">
      <label for="email">Email:</label>
      <input id="email" type="text" name="email" placeholder="email">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br>
      <button class="auth-button">Login</button>
      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Signup</a>
      </p>
    </form>
  </div>
</div>