<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="homepage-wrapper">
  <div class="homepage-center">
    <h2>Sign Up</h2>
    <form action="/auth/signup" method="POST" class="form-container">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" placeholder="Your name...">

      <label for="email">Email:</label>
      <input id="email" type="text" name="email" placeholder="email">
      <div class="form-element">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Your password">
      </div>



      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br>
      <button class="style-button">Sign up</button>
      <a class="style-button" href="/auth/github">
        <i class="fa fa-github" aria-hidden="true"></i>
        Sign up via Github
      </a>
      <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">Login</a>
      </p>
      </p>
    </form>
  </div>
</div>
<script src="/javascripts/script.js"></script>