<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Your name here...">

  <br><br>

  <label for="email">E-mail</label>
  <input id="email" type="email" name="email" placeholder="Your email...">

  <br><br>


  <label for="city">City</label>
  <input id="city" type="city" name="city" placeholder="Your city..." required>

  <br><br>


  <label for="level">Level</label>
  <select name="level" id="level">
    <option value="novice">Novice</option>
    <option value="beginner">Beginner</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
    <option value="senior">Senior</option>
  </select>

  <br><br>

  <div class="not-novice"></div>





  <label for="interests"> Select your interest(s) in language(s)</label>
  <br><br>
  <input type="checkbox" name="interests" value="javascript">
  <label for="level">Javascript</label>
  <input type="checkbox" name="interests" value="react">
  <label for="level">React.Js</label>
  <input type="checkbox" name="interests" value="node.js">
  <label for="level">Node.Js</label>
  <input type="checkbox" name="interests" value="front-end">
  <label for="level">Front-End</label>
  <input type="checkbox" name="interests" value="bootstrap">
  <label for="level">Bootstrap</label>
  <input type="checkbox" name="interests" value="php">
  <label for="level">Php</label>
  <input type="checkbox" name="interests" value="java">
  <label for="level">Java</label>
  <input type="checkbox" name="interests" value="python">
  <label for="level">Python</label>
  <input type="checkbox" name="interests" value="ruby">
  <label for="level">Ruby</label>



  <br><br>

  <label for="github">Github</label>
  <input id="github" type="github" name="github" placeholder="Your GitHub Account...">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" required>
  <br>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
<script src="/javascripts/script.js"></script>