<div class="page-wrapper">
  {{#with user}}
  <form action="/profile/edit" method="post">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" value="{{email}}">
    <br><br>
    <label for="interests"> Select your interest(s) in language(s)</label>
    <br><br>
    <input type="checkbox" name="interests" value="javascript">
    <label for="level">Javascript</label>
    <input type="checkbox" name="interests" value="react">
    <label for="level">React.Js</label>
    <input type="checkbox" name="interests" value="node">
    <label for="level">Node.Js</label>
    <input type="checkbox" name="interests" value="front-end">
    <label for="level">Front-End</label>
    <input type="checkbox" name="interests" value="bootstrap">
    <label for="level">Bootstrap</label>
    <input type="checkbox" name="interests" value="php">
    <label for="level">Php</label>
    <input type="checkbox" name="interests" value="java">
    <label for="level">Java</label>
    <input type="checkbox" name="interests" value="python">
    <label for="level">Python</label>
    <input type="checkbox" name="interests" value="ruby">
    <label for="level">Ruby</label>
    <br><br>

    <label for="city">City</label>
    <input id="city" type="city" name="city" value="{{city}}" placeholder="Your city...">

    <br><br>
    <label for="level">Level</label>
    <select name="level" id="level">
      <option value="novice">Novice</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
      <option value="senior">Senior</option>
    </select>

    <br><br>

    <div class="not-novice"></div>

    <label for="github">Github</label>
    <input id="githubUrl" type="githubUrl" name="githubUrl" value="{{githubUrl}}">

    <label for="bio">Enter your bio</label>
    <textarea name="bio" id="bio" cols="30" rows="5" value="{{bio}}"></textarea>


    <br><br>

    <button class="style-button" type="submit">Update</button>
  </form>
  {{/with}}
  <script src="/javascripts/script.js"></script>
</div>












´