<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header class="user-header">
    {{#with user}}
    <div>
      <p>Welcome, {{name}}!</p>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/user/feed">Feed</a>
      <a href="/user/pinned">Pinned</a>
      <a href="/user/profile">Profile</a>
      <a href="/auth/logout">Logout</a>

      {{!-- {{/if}} --}}
    </nav>
  </header>
  {{/with}}
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>