body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-header {
  height: 100px;
  padding: 20px;
  background-color: #174b5e;
  display: flex;
  justify-content: space-between;
  color: white;
}